<style>
  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    background-color: #111;
    color: #ddd;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #eee;
  }

  a {
    color: #8cc2dd !important;
    text-decoration: none;
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
    background-color: #252525;
    color: #ddd;
  }

  input {
    font-size: 16px;
    background-color: #252525;
    color: #ddd;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #777;
  }

  pre code {
    color: #ddd;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #ccc;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #aaa;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }

  .project-title {
      margin:0;
  }

  .project-desc {
      margin:0;
  }

  .project-link {
    display: block;
  }

{{ if .Site.Params.profilePicture }}
  .picture-wrapper {
      position: relative;
      backg
  }

  .picture {
      position: absolute;
      top:0;
      right:0;
      width: 150px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }

  @media only screen and (min-width: 700px) {
    .responsive-title {
      width: 80%;
    }
  }
{{ end }}

  @media only screen and (max-width: 700px) {
    .picture {
      width: 100px;
    }
  }

  @media only screen and (max-width: 500px) {
    .picture {
      width: 55px;
    }
  }
</style>
